<%= form_for(profile, html: {id: 'new_profile_form', class:"wrapper style2 special" }) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :avatar, 'Add a Profile Picture'  %>
      <p><%= f.file_field :avatar %></p>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <p><%= f.text_field :name, :html => {:class => "form-group"} %></p>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <p><%= f.text_field :description, :html => {:class => "form-control"}  %></p>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <p><%= f.telephone_field :phone, :html => {:class => "form-control"} %></p>
    </div>
    <div class="form-group">
      <%= f.label :address1 %>
      <p><%= f.text_field :address1, :html => {:class => "form-control"} %></p>
    </div>
      <div class="form-group">
      <%= f.label :address2 %>
      <p><%= f.text_field :address2, :html => {:class => "form-control"} %></p>
    </div>
      <div class="form-group">
      <%= f.label :city %>
      <p><%= f.text_field :city, :html => {:class => "form-control"} %></p>
    </div>
      <div class="form-group">
      <%= f.label :state %>
      <p><%= f.text_field :state, :html => {:class => "form-control"} %></p>
    </div>
      <div class="form-group">
      <%= f.label :zipcode %>
      <p><%= f.text_field :zipcode, :html => {:class => "form-control"} %></p>
    </div>
    <%= f.label :specialties %>
    <%= f.collection_check_boxes :specialty_ids, Specialty.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <%end%>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
