<p id="notice"><%= notice %></p>
<div class="wrapper style2 container special">
  <h1>Chefs</h1>
  <p>Search for chefs in your area by rating or specialty.</p>
  <table class='table-responsive profiles-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Description</th>
        <th>City </th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= link_to profile.name, user_profile_path(profile.user, profile)%></td>
          <td colspan="2"><%=profile.description%></td>
          <td><%=profile.city%></td>
          <td><%=profile.state%></td>
          <td><%=profile.zipcode%></td>
          <!-- <% if current_user && current_user.id === profile.user.id %>
            <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
            <td><%= link_to 'Remove', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="gmap-container">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<script type="text/javascript">
  buildMap(<%=raw @hash.to_json %>);
</script>
