<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="wrapper style2 pull-left">
        <div class="profile-title">
          <h2><%= @profile.name %></h2>
          <h3><%= @profile.user.role %></h3>
          <%= image_tag(@profile.avatar.url(:medium), class: 'responsive img-rounded profile-image') %>
        </div>
        <p>Description: <%= @profile.description %></p>
        <p>Street Address: <%= @profile.address1 %></p>
        <p>City : <%= @profile.city%>, <%= @profile.state %></p>
        <p>Zip Code: <%= @profile.zipcode %></p>
        <p>Phone: <%= @profile.phone %></p>
        <p>Specialties:</p>
        <ul>
          <% @profile.specialties.each do |specialty| %>
            <li><%= specialty.name%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 offset-col-sm-3"></div>
    <div class="col-sm-6 container">
      <%= link_to "Book Appointment: #{@profile.name}", new_profile_event_path(@profile), id: "new_event_link", :method => "get", class: 'btn button special', remote: true %>
    </div>
  </div>

  <% if @profile.user.id === current_user.id %>
    <%= link_to "Add New Dish", new_profile_dish_path(@profile), id: "new_dish_link", :method => "get", class: 'btn button special', remote: true %>
    <p><%= link_to "View Upcoming Events", profile_events_path(@profile) %></p>
  <% end %>

  <div class="container wrapper style2 special">
    <div id="no_dishes">
      <% if @profile.dishes.empty? %>
        <h2>This chef has no dishes yet!</h2>
    </div>
      <% else %>
        <h3><%=@profile.name%>'s Dishes:</h3>
        <div >
          <div class="row" id="dishes_display">
            <% @profile.dishes.each do |dish|%>
              <div class="col-md-3 col-md-3 col-md-3 pull-left">
                <div class="hovereffect">
                  <div class="overlay">
                    <h2><%=dish.name%></h2>
                  </div>
                  <%=link_to( image_tag(dish.photo.url(:medium), :class=>"img-responsive dish-image"), profile_dish_path(@profile, dish)) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <%end%>
    <% if @profile.user.id === current_user.id %>
      <%= link_to 'Edit', edit_profile_path(@profile) %> |
    <% end %>
    <%= link_to 'Back', profiles_path %>
  </div>

</div>
