<div class="wrapper style2 container special">
<h2><%= @profile.name %></h2>
<%= image_tag(@profile.avatar.url(:thumb), class: 'img-rounded') %>
<%= @profile.user.role %>

<p>Description: <%= @profile.description %></p>
<p>Street Address: <%= @profile.address1 %></p>
<p>Address Line 2: <%= @profile.address2 %></p>
<p>City : <%= @profile.city %></p>
<p>State: <%= @profile.state %></p>
<p>Zip Code: <%= @profile.zipcode %></p>
<p>Phone: <%= @profile.phone %></p>
</div>

  <% if @profile.user.id === current_user.id %>
    <%= link_to "Add New Dish", new_profile_dish_path(@profile), id: "new_dish_link", :method => "get", class: 'btn button special', remote: true %>
  <% end %>

  <h3>Dishes:</h3>
    <ul id="dishes_display">
      <% @profile.dishes.each do |dish|%>
      <div class="recipe-block">
        <li>
          <%=link_to( image_tag(dish.photo.url(:medium)), profile_dish_path(@profile, dish), :class=>"responsive") %>
        </li>
      </div>
      <% end %>
    </ul>
  <div id="no_dishes">
    <% if @profile.dishes.empty? %>
    <p>This chef has no dishes yet!</p>
    <% end %>
  </div>

  <script>
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
  </script>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
<% if @profile.user.id === current_user.id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
