<div class="jumbotron">
  <h1><%= @user.name %></h1>
  <li><%= @user.phone %></li>
  <li><%= @user.address %></li>
  <% if @user.id === current_user.id %>
    <%= link_to "Add New Dish", new_user_dish_path(@user), id: "new_dish_link", class: 'btn-primary btn', remote: true %>
  <% end %>
</div>
  <h3>Dishes:</h3>
    <ul id="dishes_display">
      <% @user.dishes.each do |dish|%>
        <li><%=link_to dish.name, user_dish_path(@user,dish)%></li>
      <% end %>
    </ul>
  <div id="no_dishes">
    <% if @user.dishes.empty? %>
    <p>This chef has no dishes yet!</p>
    <% end %>
  </div>

  <script>
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
  </script>
  
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

<p><%= link_to "Edit Chef", edit_user_path(@user) %></p>
