<%= render('layouts/errors', :object => @event) %>

  <%= form_for [@profile, @event], html: { id: 'new_event_form', class:"wrapper style2 special" }, remote: true do |f| %>
    <h3>Book an Event</h3>
    <div class="field">
      <%= f.label :name, "Event Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_picker :date %>
    </div>
    <div class="field">
      <%= f.label :start_time %><br>
      <%= f.time_picker :start_time %>
    </div>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.time_picker :end_time %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
