<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="123"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile.events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}", profile_event_path(@profile, event) %></td>
        <td><%= link_to 'Edit', edit_profile_event_path(@profile, event) %></td>
        <td><%=link_to "Delete Event", profile_event_path(@profile, event),
                                      :data => {:confirm => "You Sure?",
                                                :method => "delete"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_profile_event_path %>
