<%= render('layouts/errors', :object => @dish) %>

<%= form_for [@profile, @dish], html: { id: 'new_dish_form' }, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <p><%= f.submit %></p>
<% end %>
