<h2><%= @dish.name %></h2>
<h3><%= @dish.description %></h3>
<%= image_tag @dish.image %>
<h5><em>by: <%= @dish.user.email %></em></h5>

<p><%= link_to "Edit Dish", edit_user_dish_path(@user, @dish) %></p>
<p><%= link_to "Delete Dish", user_dish_path(@user, @dish),
                              :data => {:confirm => "You Sure?",
                                        :method => "delete"}%></p>

<p><%= link_to "Return to Chef", user_path(@user) %></p>
