<!-- Header -->
  <header id="header" class="">
    <h1 id="logo"><span><%= link_to 'Chef Tonight', root_path%></span></h1>
    <nav id="nav">
      <ul>
        <% if user_signed_in? &&current_user.profile%>
          <li><%= link_to "View Profile", user_profile_path(current_user, current_user.profile)%></li>
        <% elsif user_signed_in?%>
        <li class="submenu">
          <a href="#">Layouts</a>
          <ul>
            <li><a href="left-sidebar.html">Left Sidebar</a></li>
            <li><a href="right-sidebar.html">Right Sidebar</a></li>
            <li><a href="no-sidebar.html">No Sidebar</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="submenu">
              <a href="#">Submenu</a>
              <ul>
                <li><a href="#">Dolore Sed</a></li>
                <li><a href="#">Consequat</a></li>
                <li><a href="#">Lorem Magna</a></li>
                <li><a href="#">Sed Magna</a></li>
                <li><a href="#">Ipsum Nisl</a></li>
                <li><%= link_to "Create a New Profile", new_user_profile_path(current_user)%></li>
              </ul>
            </li>
          </ul>
        </li>
        <% end %>
        <li><%= link_to "View All Chefs", profiles_path%></li>
        <% if user_signed_in? %>
          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <li class="bumpdown">Logged in as <%= current_user.email %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li ><%= link_to "Sign Up", new_user_registration_path, :method => "get", class: 'button special' %></li>
        <% end %>
      </ul>
    </nav>
  </header>
